:root {
    --back_color1: #0d1b2ae3;
    --back_color2: #4b4b4b;
    --back_color3: #bababa;
    --text_color1: #ffffff;
    --text_color2: #000000;
    --wild_red: #FF0000;
}

header {
  padding: 0px;
  background-color: var(--back_color2);
  border: 1px solid var(--back_color2);
}

body  {
  margin: 0 auto;
  max-width: 1000px;
  /* padding: 20px; */
  justify-content: center;
}

footer  {
  max-width: 1000px;
  min-height: 150px;
  padding: 10px;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--back_color2);
}

section, aside {
  text-align: left;
  padding: 20px 10px 100px 20px;
}

h1 {
  font-size: 1.5rem;
  text-align: left;
  padding: 20px 20px 60px 20px;
  color: white;
}

p {
	text-align: left;
	font-size: 1.2rem;
}

/* Padding: top right bottom left */
nav {
    flex: 1 1 100%;
    display: block;
    color: white;
    padding: 5px;
    display: flex;
	background-color: #333;
	align-items: center;
}

nav a {
    flex: 1 1 100%;
    display: block;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* nav a:hover {
	font-weight: 700;
    color: black;
    background-color: rgb(102, 162, 167);
	text-decoration: underline;
	text-decoration-color: red;
} */

/* ------ CLASSES ------ */

.grid-container { 
  display: grid;    
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}

.wrap {
		flex-wrap: wrap;
}

/* .header {
  background-color: var(--back_color2);
} */

/* .grid-item1 {
  grid-column: 1 / span 4;
} */

.grid-item1 {
  grid-column: 1 / span 3;
  background-color: lightgray;
  font-size: 1.2rem;
  text-align: left;
  padding: 20px 10px 250px 20px;
}

.grid-item2 {
  grid-column: 4;
  background-color: white;
  font-size: 1.2rem;
} 

.grid-item5 {
  grid-column: 1 / 5;
}  